@font-face {
    font-family: Shabnam;
    src: url('../../../node_modules/shabnam-font/dist/Shabnam.eot');
    src: url('../../../node_modules/shabnam-font/dist/Shabnam.woff2') format('woff2');
    src: url('../../../node_modules/shabnam-font/dist/Shabnam.woff') format('woff');
    src: url('../../../node_modules/shabnam-font/dist/Shabnam.ttf') format('truetype');
    font-weight: normal;
}

