@font-face {
  font-family: "Iran Yekan Regular";
  src: url("../fonts/iranyekanwebregularfanum.ttf") format("truetype");
}

@font-face {
  font-family: "Iran Yekan Light";
  src: url("../fonts/iranyekanweblightfanum.ttf") format("truetype");
}

@font-face {
  font-family: "Iran Yekan Bold";
  src: url("../fonts/iranyekanwebboldfanum.ttf") format("truetype");
}

@font-face {
  font-family: "Iran Yekan ExtraBold";
  src: url("../fonts/iranyekanwebextraboldfanum.ttf") format("truetype");
}

@font-face {
  font-family: "Iran Yekan Black";
  src: url("../fonts/iranyekanwebblackfanum.ttf") format("truetype");
}

@font-face {
  font-family: "Iran Yekan ExtraBlack";
  src: url("../fonts/iranyekanwebextrablackfanum.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
}

* {
  letter-spacing: 0;
}

.v-application,
.v-application .headline {
  font-family: "Iran Yekan Regular" !important;
}

/*dark theme*/
.theme--dark.v-application {
  background-color: #394156;
}
.theme--dark.v-toolbar {
  background-color: #2962ff;
}
.theme--dark.v-navigation-drawer {
  background-color: #252c3e;
}
.theme--dark.v-card {
  background-color: #252c3e;
}
.theme--dark.v-data-table {
  background-color: #252c3e;
}

/*light theme*/
.theme--light.v-application {
  background-color: #f1f2f3;
}
.theme--light.v-toolbar {
  background-color: #2962ff;
}
.theme--light.v-navigation-drawer {
  background-color: #ffffff;
}
.theme--light.v-card {
  background-color: #ffffff;
}
.theme--light.v-btn > .v-btn__content .v-icon {
  color: #fff;
}
.theme--light.v-lable {
  color: #fff !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
